/* Reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fonte-principal;
  font-size: $tamanho-base;
  color: $cor-texto;
  background-color: $cor-fundo;
  line-height: 1.6;
}